<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите текст заметки" />
        <button type="submit">Добавить</button>
    </form>
</div>
<table>
    <tr>
        <th>Text</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    <tr th:each="note : ${notes}">
        <td th:text="${note.getText()}"></td>
        <td>
            <a th:href="@{'/update/' + ${note.getId()}}" th:text="Edit" />
        </td>
        <td>
            <a th:href="@{'/delete/' + ${note.getId()}}" th:text="Delete" />
        </td>
    </tr>
</table>
</body>
</html>